<div class="container" #embed>

</div>




<div class="container">

  <div class="row">
    <div class="column">.column</div>
    <div class="column">.column</div>
    <div class="column">.column</div>
    <div class="column">.column</div>
  </div>

  <div class="row">
    <div class="column">.column</div>
    <div class="column column-50 column-offset-25">.column column-50 column-offset-25</div>
  </div>

</div>


<div class="container">

  <div class="row">
    <div class="column column-10">10%</div>
  </div>

  <div class="row">
    <div class="column column-20">20%</div>
  </div>

  <div class="row">
    <div class="column column-25">25%</div>
  </div>

  <div class="row">
    <!-- .column-33 or .column-34 both work for 1/3 column width -->
    <div class="column column-33">33%</div>
  </div>

  <div class="row">
    <div class="column column-40">40%</div>
  </div>

  <div class="row">
    <div class="column column-50">50%</div>
  </div>

  <div class="row">
    <div class="column column-60">60%</div>
  </div>

  <div class="row">
    <!-- .column-66 or .column-67 both work for 2/3 column width -->
    <div class="column column-67">67%</div>
  </div>

  <div class="row">
    <div class="column column-75">75%</div>
  </div>

  <div class="row">
    <div class="column column-80">80%</div>
  </div>

  <div class="row">
    <div class="column column-90">90%</div>
  </div>

  <div class="row">
    <div class="column">100%</div>
  </div>
</div>
